$bg-color: linear-gradient(191.96deg, #171930 5.82%, #171930 91.26%);
$font-color: #FFFFFF;
$week: linear-gradient(130.97deg, #266ED7 6.68%, #4D8AEB 99.25%);
$nav-color: #0D0F22;
$icon-color: linear-gradient(135.02deg, #A5AFC4 13.54%, #6D7B98 81.47%);
$block-color: #1E203B;
$check-box: #F18C27;
$check-box-b:#4886E8;
$bg-search:#464967;
$bg-modal: #363956;
$icon-color-g: linear-gradient(158.52deg, #313346 11.91%, #54566E 85.88%);